:root {
  --font-heading: "Playfair Display", serif;
  --font-paragraph: "Popppins ", serif;
  --branding-color: #6c63ff;
  --color-of-some-titles: #272142;
  --mild-color-for-bg: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p {
  font-family: var(--font-paragraph);
  line-height: 30px;
}

a {
  font-family: var(--font-paragraph);
}

.navbar {
  background-color: white !important;
}

.navbar img {
  height: 32px;
}

.active {
  color: var(--branding-color) !important;
}

li {
  padding: 0px 10px;
}

.navbar a:hover {
  color: var(--branding-color);
}

.row {
  display: flex;
}

.head {
  text-align: center;
  background-color: var(--mild-color-for-bg);
  padding: 100px 20px;
}

.head p {
  font-weight: bold;
  font-size: 36px;
  margin: 0px;
}

.head h1 {
  font-weight: bold;
  font-size: 96px;
}

.head h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: var(--font-paragraph);
  color: var(--color-of-some-titles);
}

.btn-contact {
  border-radius: 4px;
  background-color: var(--branding-color);
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 20px;
}

.btn-contact:hover {
  border: 1px solid var(--branding-color);
  background-color: rgb(105, 97, 255, 0.85);
  color: rgb(255, 255, 255);
}

.title-of-projects {
  text-align: center;
  font-size: 18px;
  color: var(--color-of-some-titles);
  margin: 50px;
}

.proj-description h2 {
  font-size: 64;
  font-weight: bold;
}

.proj-description {
  padding: 80px 60px;
}

.btn-launch {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  background-color: white;
  font-size: 18px;
  padding: 18px 30px;
  margin-top: 5px;
}

.btn-launch:hover {
  border: 1px solid var(--branding-color);
  color: var(--color-of-some-titles);
  background-color: rgb(246, 243, 249, 0.3);
}

.about-me {
  padding: 100px 20px;
}

.about-me h1 {
  font-size: 64px;
  font-weight: bold;
}

.about-me h3 {
  font-size: 18px;
  font-weight: bold;
}

.about-me img {
  border-radius: 4px;
}

.work-inquiry {
  background-color: var(--mild-color-for-bg);
  padding: 30px 120px;
  border-radius: 20px;
}

.lets-talk {
  text-align: right;
}

.social {
  text-align: center;
  margin: 50px;
}

.social p {
  font-size: 24px;
}

.click-social-link {
  font-size: 24px;
  font-weight: normal;
  color: var(--color-of-some-titles);
  text-decoration: none;
  margin-bottom: 10px;
}

.click-social-link:hover {
  text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.3);
}

i {
  padding: 5px;
  margin: 0px 15px;
  color: var(--branding-color);
  font-size: 18px;
  border: 5px solid var(--mild-color-for-bg);
  border-radius: 100%;
  background-color: var(--mild-color-for-bg);
}

.fa-facebook-f {
  padding: 5px 8px;
}

i:hover {
  color: var(--color-of-some-titles);
}

.title-of-works {
  padding: 100px 20px 80px 20px;
}

#look-at-works {
  font-size: 54px;
  font-weight: bold;
}

.img-works {
  margin-bottom: 40px;
  text-align: center;
}

.img-works img {
  margin-bottom: 10px;
}

.img-works h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--font-paragraph);
  text-align: center;
}

.img-works h4 {
  font-size: 14px;
  font-weight: normal;
  font-family: var(--font-paragraph);
  text-align: center;
}

.get-in-touch {
  padding: 100px 20px 80px 20px;
}

.get-in-touch h1 {
  font-size: 54px;
  font-weight: bold;
}

.social-links {
  font-size: 24px;
  font-weight: normal;
  color: var(--color-of-some-titles);
  text-decoration: none;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  font-family: var(--font-paragraph);
  color: var(--color-of-some-titles);
}

.footer a {
  color: var(--branding-color);
  text-decoration: none;
}

.footer a:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

@media (max-width: 992px) {
  .head p {
    font-size: 32px !important;
  }

  h1 {
    font-size: 54px !important;
  }

  .head h2 {
    font-size: 20px !important;
  }

  .proj-description {
    padding: 0;
    text-align: center;
  }

  .head {
    padding: 70px 20px;
  }

  p {
    line-height: 25px;
  }

  .btn-launch {
    padding: 10px 30px;
    margin-bottom: 10px;
  }

  .about-me {
    text-align: center;
    padding: 70px 20px;
  }
  .about-me img {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .work-inquiry {
    text-align: center;
    padding: 50px 20px;
    margin: auto;
  }

  .lets-talk {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #look-at-works {
    font-size: 44px !important;
    text-align: center;
  }

  .title-of-works {
    padding: 70px 20px;
  }

  .get-in-touch {
    padding: 70px 20px;
  }

  .get-in-touch h1 {
    font-size: 44px !important;
  }
}
