:root {
  --font-heading: "Playfair Display", serif;
  --font-paragraph: "Popppins ", serif;
  --branding-color: #6c63ff;
  --color-of-some-titles: #272142;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p {
  font-family: var(--font-paragraph);
  line-height: 30px;
}

.head {
  text-align: center;
  background-color: #f9f7fe;
  padding: 160px 20px;
}

.head p {
  font-weight: bold;
  font-size: 36px;
  margin: 0px;
}

.head h1 {
  font-weight: bold;
  font-size: 96px;
}

.head h2 {
  font-weight: normal;
  font-size: 24px;
  font-family: var(--font-paragraph);
  color: var(--color-of-some-titles);
}

.btn-contact {
  border-radius: 4px;
  background-color: var(--branding-color);
  font-family: var(--font-paragraph);
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 5px;
}

.btn-contact:hover {
  border: 1px solid var(--branding-color);
  background-color: rgb(105, 97, 255, 0.85);
  color: rgb(255, 255, 255);
}

.title-of-projects {
  text-align: center;
  font-size: 18px;
  color: var(--color-of-some-titles);
  margin: 50px;
}

.proj-description h2 {
  font-size: 64;
}

.proj-description {
  padding: 120px 60px;
}

.btn-launch {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  background-color: white;
  font-family: var(--font-paragraph);
  font-size: 18px;
  padding: 18px 30px;
  margin-top: 5px;
}

.btn-launch:hover {
  border: 1px solid var(--branding-color);
  color: var(--color-of-some-titles);
  background-color: rgb(246, 243, 249, 0.3);
}

@media (max-width: 991px) {
  .head p {
    font-size: 32px !important;
  }

  h1 {
    font-size: 54px !important;
  }

  .head h2 {
    font-size: 20px !important;
  }

  .proj-description {
    padding: 0;
    text-align: center;
  }

  .head {
    padding: 100px 20px;
  }

  p {
    line-height: 25px;
  }

  .btn-launch {
    padding: 10px 40px;
  }
}
